.box{
    height: 500px;
    width: 100vw;
    background-color: rgba(197, 248, 248, 0.998);
margin: 30px;
}
.container1{ 
    width: 100%;
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    
}